<div class="tab-pane {% if loop.first %} active{% endif %}" id="{{ admin.uniqid }}_{{ loop.index }}">
    <fieldset>
        <div class="sonata-ba-collapsed-fields">
            {% if form_group.description != false %}
            <p>{{ form_group.description|raw }}</p>
            {% endif %}

            {{ form_row(form.linkType) }}

            <div id="cmf_menu_content" class="cmf_menu_target_field">
                {{ form_row(form.content) }}
                {{ form_row(form.weak) }}
            </div>

            <div id="cmf_menu_uri" class="cmf_menu_target_field">
                {{ form_row(form.uri) }}
            </div>

            <div id="cmf_menu_route" class="cmf_menu_target_field">
                {{ form_row(form.route) }}
            </div>
        </div>

        <script type="text/javascript">
$(document).ready(function () {
    var linkTypeEl = $('#{{ form.vars.name }}_{{ form.linkType.vars.name }}');

    cmf_menu_show_group(linkTypeEl.val());

    linkTypeEl.bind('change', function () {
        cmf_menu_show_group($(this).val());
    });

    function cmf_menu_show_group(selectedName) {
        hideFunc = function (name) {
            $('#cmf_menu_' + name).hide();
        }
        showFunc = function (name) {
            $('#cmf_menu_' + name).show();
        }

        hideFunc('content');
        hideFunc('uri');
        hideFunc('route');

        if (!selectedName) {
            showFunc('content');
            showFunc('uri');
            showFunc('route');
        } else {
            showFunc(selectedName);
        }
    }
});
        </script>
    </fieldset>
</div>

